.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 15px;
}

html {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  -moz-tab-size: 4;
  tab-size: 4;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  display: block;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid;
}

*, :after, :before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgba(229,231,235,var(--tw-border-opacity));
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}

.font-bold {
  font-weight: 700;
}

.text-3x1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-center {
  text-align: center;
}

a:-webkit-any-link {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.p-8 {
  padding: 2rem;
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(249,250,251,var(--tw-bg-opacity));
}

.min-h-screen {
  min-height: 100vh;
}

.p-2 {
  padding: 0.5rem;
}

.block {
  display: block;
}

.gap-8 {
  gap: 2rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.w-full {
  width: 100%;
}

.grid {
  display: grid;
}

.mt-8 {
  margin-top: 2rem;
}

.shadow-2xl, .shadow-lg {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

.font-normal {
  font-weight: 400;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(229,231,235,var(--tw-border-opacity));
}

.border {
  border-width: 1px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.z-10 {
  z-index: 10;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.items-center {
  align-items: center;
}

.max-w-md {
  max-width: 28rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-lg, .text-xl {
  line-height: 1.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.text-base {
  font-size: .9375rem;
  line-height: 1.35rem;
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107,114,128,var(--tw-text-opacity));
}

.\!leading-relaxed {
  line-height: 1.625!important;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-4 {
  padding-right: 1rem;
}

.flex-grow {
  flex-grow: 1;
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(229,231,235,var(--tw-border-opacity));
}

.border-t {
  border-top-width: 1px;
}

.transition-colors {
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.w-1\/2 {
  width: 50%;
}

.inline-flex {
  display: inline-flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}

.space-x-2>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.divide-gray-200>:not([hidden])~:not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgba(229,231,235,var(--tw-divide-opacity));
}

.divide-x>:not([hidden])~:not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}

@media (min-width: 1024px) {
  .lg\:gap-12 {
    gap: 3rem;
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .lg\:mt-20 {
    margin-top: 5rem;
  }
}

@media (min-width: 640px) {
  .sm\:hidden {
    display: none;
  }
}

@media (min-width: 640px) {
  .sm\:inline {
    display: inline;
  }
}